aiofiles
argon2_cffi
asgi-correlation-id
asyncer
beanie
faker
fastapi
gunicorn
httpx
httpx-socks[asyncio]
jinja2
jinja-partials
n2snusertools
passlib
pydantic
pydantic-settings
python-multipart
rich
slack-sdk
slack-bolt
textual
typer
uuid
uvicorn
Werkzeug
