<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>BNL | TITLE</title>
<link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700" />
<link rel="stylesheet" type="text/css" media="all" href="static/fontawesome/css/all.min.css" />
{#<link rel="stylesheet" type="text/css" media="all" href="static/icons/css/font-awesome.min.css" />#}
{#<link rel="stylesheet" type="text/css" media="all" href="static/jquery-ui/jquery-ui.css" />#}
<link rel="stylesheet" type="text/css" media="all" href="/static/css/bnl-2021.css" />
<link rel="stylesheet" type="text/css" media="all" href="/static/css/1.css" /> <!-- This sets which site menu item is highlighted -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/static/images/site.webmanifest">
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="content">
<div id="BNL-mobile-menu">
	<p id="siteMenuMobileHead" class="mobileMenuHead">Site Navigation<span class="fa fa-angle-double-left fa-lg closeMobileMenuIcon"></span></p>
	<ul id="siteMenuMobile"></ul>
	<p id="subnavMobileHead">Local Navigation</p>
	<ul id="subnavMobile"></ul>
	<p id="globalLinksMobileHead" class="mobileMenuHead">General Lab Information</p>
	<ul id="globalLinksMobile"></ul>
</div>
<div id="header">
	<div class="container_24">	
		<div class="grid_24">
			<ul id="globalLinks" class="responsiveLinkList2">
				<li><a href="https://www.bnl.gov/science/">Our Science</a>
				<li><a href="https://www.bnl.gov/about/">About</a>
				<li><a href="javascript:void(0);" class="gd-link" >Departments</a>
				<li><a href="https://www.bnl.gov/partner/">Partner With Us</a>
				<li><a target="_blank" href="https://jobs.bnl.gov/">Careers</a>
				<li><a href="https://www.bnl.gov/newsroom/">News</a>
				<li><a href="https://www.bnl.gov/contact-us/">Contact</a>
				<li><a href="https://www.bnl.gov/directory/">Directory</a>
				<li><a href="javascript:void(0);" class="gd-link"><span class="fa fa-search"></span> Search</a>
			</ul>
		</div>
	</div>
</div>	
<div class="gd" id="gd-2">
	<div class="container_24">
		<div class="grid_4">
			<ul class="responsiveLinkList2">
				<li><a href="https://www.bnl.gov/energysci/">Energy &amp; Photon Sciences</a>
				<li><a href="https://www.bnl.gov/cfn/">Center for Functional Nanomaterials</a>
				<li><a href="https://www.bnl.gov/chemistry/">Chemistry</a>
				<li><a href="https://www.bnl.gov/cmpmsd/">Condensed Matter Physics &amp; Materials Science</a>
				<li><a href="https://www.bnl.gov/isd/">Interdisciplinary Science</a>
				<li><a href="https://www.bnl.gov/nsls2/">National Synchrotron Light Source II</a>
			</ul>
		</div>
		<div class="grid_4">
			<ul class="responsiveLinkList2">
				<li><a href="https://www.bnl.gov/ebnn/">Environment, Biology, Nuclear Science &amp; Nonproliferation</a>
				<li><a href="https://www.bnl.gov/biology/">Biology</a>
				<li><a href="https://www.bnl.gov/envsci/">Environmental and Climate Sciences</a>
				<li><a href="https://www.bnl.gov/nst/">Nuclear Science and Technology</a>
				<li><a href="https://www.bnl.gov/nns/">Nonproliferation and National Security</a>
			</ul>
		</div>
		<div class="grid_4">
			<ul class="responsiveLinkList2">
                <li><a href="https://www.bnl.gov/compsci/">Computational Sciences</a>
				<li><a href="https://www.bnl.gov/compsci/mathematics.php">Computer Science and Applied Mathematics</a>
				<li><a href="https://www.bnl.gov/compsci/natsec.php">Computing for National Security</a>
				<li><a href="https://www.bnl.gov/compsci/sdcc/">Scientific Data and Computing Center</a>
				<li><a href="https://www.bnl.gov/compsci/c3d/">Computation and Data-Driven Discovery</a>
				<li><a href="https://www.bnl.gov/compsci/computational-lab.php">Computational Science Lab</a>
			</ul>
		</div>
		<div class="grid_4">
			<ul class="responsiveLinkList2">
				<li><a href="https://www.bnl.gov/npp/">Nuclear &amp; Particle Physics</a>
				<li><a href="https://www.bnl.gov/cad/">Collider-Accelerator</a>
				<li><a href="https://www.bnl.gov/physics/">Physics</a>
				<li><a href="https://www.bnl.gov/riken/">RIKEN BNL Research Center</a>
			</ul>
			<ul class="responsiveLinkList2">
				<li><a href="https://www.bnl.gov/ec/">Electron-Ion Collider</a>
			</ul>
		</div>
		<div class="grid_4">
			<a class="closeGD menuClose" href="javascript:void(0);" title="Close Department List"><span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x"></i>
				<i class="fa fa-close fa-stack-1x"></i>
			</span></a>
			<ul class="responsiveLinkList2">
				<li><a href="https://www.bnl.gov/advtech/">Advanced Technology Research Office</a>
				<li><a href="https://www.bnl.gov/atf/">Accelerator Test Facility</a>
				<li><a href="https://www.bnl.gov/instrumentation/">Instrumentation</a>
				<li><a href="https://www.bnl.gov/magnets/">Magnet</a>
			</ul>
			<ul class="responsiveLinkList2">
				<li>
					<a href="https://www.bnl.gov/bnlweb/admin/support.php">Support Orgs</a> |
					<a href="https://www.bnl.gov/bnlweb/admin/deptcodes.php">Dept. Codes</a>
			</ul>
		</div>
	</div>
</div>
<div class="gd" id="gd-8">
	<div class="container_24">
		<div class="grid_10 prefix_1 suffix_1">
			<form class="homePageSearchForm webSearchForm" method="post" action="https://www.bnl.gov/search/">
				<p>
					<span class="fa fa-globe fa-3x"></span>
					<input class="BNLinput webSearchField" name="q1" type="text" value="" maxlength="256" autocomplete="off" placeholder="Search NSLS-II...">
					<input type="hidden" name="DIRECTORY_RESTRICT" value="">
					<input type="hidden" name="SUBCOLLECTION" value="nsls2">
				</p>
			</form>
		</div>
		<div class="grid_10 prefix_1">
			<form class="homePageSearchForm peopleSearchForm" method="post" action="https://www.bnl.gov/search/">
				<p>
					<span class="fa fa-user fa-3x"></span>
					<input class="BNLinput peopleSearchField" name="q1" type="text" value="" maxlength="256" autocomplete="off" placeholder="People Search...">
					<input type="hidden" name="DIRECTORY_RESTRICT" value="">
					<input type="hidden" name="SUBCOLLECTION" value="people">
				</p>
			</form>
		</div>
		<div class="grid_1">
            <a class="closeGD menuClose" href="javascript:void(0);" title="Hide Search Fields"><span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-close fa-stack-1x"></i>
            </span></a>
		</div>
	</div>
</div>
<div class="clear"></div><div id="stripe">
	<div class="container_24" id="banner">
		<div class="grid_24" >
			<span id="hamburger" class="fa fa-bars"></span>
			<span id="mobileSearchTrigger" class="fa fa-search"></span>
			<a id="bnlLogoLink" title="BNL Homepage" href="https://www.bnl.gov">
				<img class="BNLlogo black" title="BNL Homepage" src="static/images/bnl-logo-2021.svg" />
				<img class="BNLlogo white-gray" title="BNL Homepage" src="static/images/bnl-logo-white-2021.svg" />
			</a>		
			<div id="siteTitleContainer">National Synchrotron Light Source II<span class="small"></span></div>
			<div id="doeLogoContainer">	
				<a id="doeLogoLink" title="DOE Office of Science" href="http://science.energy.gov/">
					<img class="DOElogo black" title="DOE Office of Science" src="static/images/logo-doe-black-200px.png" />
					<img class="DOElogo white" title="DOE Office of Science" src="static/images/logo-doe-white-500px.png" />
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container_24" id="siteMenuContainer">
	<div class="grid_24">
		<ul id="siteMenu">
			<li><a href="https://www.bnl.gov/nsls2/">Home</a>
			<li><a href="https://www.bnl.gov/nsls2/about-nsls-ii.php">About</a>
				<ul>
					<li><a href="https://www.bnl.gov/nsls2/about-nsls-ii.php">NSLS-II Overview</a>
					<li><a target="_blank" href="https://www.bnl.gov/nsls2/docs/pdf/nsls2-strategic-plan.pdf">Strategic Plan (PDF)</a>
					<li><a target="_blank" href="https://www.bnl.gov/orgcharts/ps.pdf">Org Chart (PDF)</a>
					<li><a href="https://www.bnl.gov/nsls2/committees/">Advisory Committees</a>
					<li><a target="_blank" href="http://nslsuec.org/">Users' Executive Committee</a>
				</ul>
			<li><a href="https://www.bnl.gov/nsls2/accelerator/">Accelerator</a>
				<ul>
					<li><a href="https://www.bnl.gov/nsls2/accelerator/">Accelerator Overview</a>
					<li><a href="https://www.bnl.gov/nsls2/accelerator/machine.php">Machine Parameters</a>
					<li><a target="_blank" href="https://status.nsls2.bnl.gov/">Machine Status</a>
					<li><a href="https://www.bnl.gov/nsls2/schedule/">Operating Schedule</a>
				</ul>
			<li><a href="https://www.bnl.gov/nsls2/beamlines/">Beamlines</a>
				<ul>
					<li><a href="https://www.bnl.gov/nsls2/beamlines/map.php">Beamline Map</a>
					<li><a href="https://www.bnl.gov/nsls2/beamlines/">Beamline Directory</a>
					<li><a target="_blank" href="https://nsls2calendar.bnl.gov/">Beamline Schedules</a>
					<li><a href="https://www.bnl.gov/nsls2/beamline-development.php">Beamline Development</a>
				</ul>
			<li><a href="https://www.bnl.gov/nsls2/research/">Research</a>
				<ul>
					<li><a href="https://www.bnl.gov/nsls2/research/">Research Areas</a>
					<li><a href="https://www.bnl.gov/nsls2/news/highlights/">Science Highlights</a>
					<li><a href="https://www.bnl.gov/nsls2/programs/">Science Programs</a>
					<li><a href="https://www.bnl.gov/nsls2/groups/rd/">Research &amp; Development Group</a>
					<li><a href="https://www.bnl.gov/nsls2/lifesciences/">Center for BioMolecular Structure</a>
					<li><a href="https://www.bnl.gov/nsls2/publications/">Publications</a>
				</ul>
			<li><a href="https://www.bnl.gov/nsls2/userguide/">For Users</a>
				<ul>
					<li><a href="https://www.bnl.gov/nsls2/userguide/">User Guide</a>
					<li><a target="_blank" href="https://pass.bnl.gov/">PASS</a>
					<li><a href="https://www.bnl.gov/nsls2/datascience/">User Computer Accounts &amp; Data</a>
					<li><a href="https://www.bnl.gov/nsls2/labs/">User Laboratories</a>
					<li><a href="https://www.bnl.gov/nsls2/equipment.php">Research Equipment Pool</a>
					<li><a href="https://www.bnl.gov/nsls2/safety-training.php">Safety &amp; Training</a>
					<li><a target="_blank" href="https://nsls2eor.bnl.gov/">End of Run Form</a>
					<li><a href="https://www.bnl.gov/nsls2/user-services.php">User Services Office</a>
				</ul>
			<li><a href="https://www.bnl.gov/nsls2/industry/">For Industry</a>
			<li><a href="https://www.bnl.gov/nsls2/news/">News &amp; Events</a>
				<ul>
					<li><a href="https://www.bnl.gov/nsls2/news/">Newsroom</a>
					<li><a href="https://www.bnl.gov/nsls2/newsletter/">News @ NSLS-II</a>
					<li><a href="https://www.bnl.gov/nsls2/events/">Upcoming Events</a>
					<li><a href="https://www.bnl.gov/nsls2/userguide/lectures/">Synchrotron Lecture Series</a>
					<li><a target="_blank" href="https://www.flickr.com/photos/brookhavenlab/albums/72157615585907461">Image Library</a>
					<li><a href="https://www.bnl.gov/nsls2/videos/">Video Library</a>
				</ul>
			<li><a href="https://www.bnl.gov/nsls2/people/">Staff Directory</a>
			<li><a target="_blank" href="https://jobs.bnl.gov/search-jobs/nsls-II">Jobs</a>
			<li><a target="_blank" href="https://brookhavenlab.sharepoint.com/sites/NSLS2Internal">Intranet<span style="color:orange;" class="fa fa-lock fa-lg"></span></a>
		</ul>
	</div>
</div>

<div id="subStripe">

	<div class="container_24">
	
		<div class="grid_24">
		
			<h1>Page Title Goes Here</h1>
			
		</div>
		
	</div>
	
</div>

<div class="container_24">


<!-- PAGE CONTENT APPEARS BELOW -->


	<div class="grid_24">
			
		<ul id="subnav">
			<li><a href="#">Subnav One</a>
			<li><a href="#">Subnav Two</a>
			<li><a href="#">Subnav Three</a>
			<li><a href="#">Subnav Four</a>
			<li><a href="#">Subnav Five</a>
			<li><a href="#">Subnav Six</a>
			<li><a href="#">Subnav Seven</a>
			<li><a href="#">Subnav Eight</a>
			<li><a href="#">Subnav Nine</a>
			<li><a href="#">Subnav Ten</a>
		</ul>
		
	</div>

<div class="grid_12">
    <table>
  <tr>
    <th>Item</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Mango</td>
    <td>125</td>
  </tr>
  <tr>
    <td>Orange</td>
    <td>75</td>
  </tr>
</table>
</div>

	<div class="grid_15 suffix_1">
	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id 
		nulla non risus gravida tempor sed vitae neque. Fusce sed porttitor 
		nulla. Sed non finibus arcu. Aenean facilisis, eros at efficitur 
		bibendum, leo magna commodo erat, vel malesuada quam nisi vulputate 
		lacus. Phasellus varius felis nec ante congue, sed aliquet tellus 
		egestas. Morbi in nibh in enim rutrum egestas. Pellentesque sed lorem a 
		enim scelerisque dignissim. Etiam varius condimentum eros id mattis. 
		Duis sed bibendum erat. Vivamus dignissim ante vitae est imperdiet, vel 
		sollicitudin turpis faucibus. Vestibulum placerat laoreet ex, eu 
		hendrerit lacus malesuada sed.</p>
		
		<p>Donec in tellus sit amet arcu vestibulum efficitur volutpat in lectus. 
		Aenean ultricies, purus rhoncus tempus malesuada, elit nunc consequat 
		lacus, sed congue ipsum arcu eget velit. Nullam egestas, dolor nec 
		tempus faucibus, quam metus volutpat nibh, non faucibus orci elit at 
		lorem. Aenean tempus metus nisi, a rutrum metus condimentum et. Integer 
		non porttitor arcu.</p>
		
		<h3>Lorem Ipsum Dolor</h3>
		
		<div class="grid_12 alpha">
		
			<p>Fusce eu diam quis magna vehicula pellen tesque. Duis tristique, 
			ante eu accumsan porta, elit sem cursus mi, et imperdiet nisi enim 
			at lectus. Donec vel faucibus metus. In hac habitasse platea 
			dictumst. Sed condi mentum diam in est vestibulum pretium id eget 
			nulla. Pellentesque sollicitudin pellentesque sem, a faucibus mauris 
			eleifend et. Sed erat velit, feugiat ac ultrices at, posuere at 
			velit.</p>
			
		</div>
		
		<div class="grid_12 omega">
		
			<p>Pellentesque ac odio ut justo congue ultrices nec in risus. Donec 
			eget mi sem. Ut porttitor, dui sed viverra mollis, odio augue 
			gravida ante, non vestibulum orci sapien non metus. Quisque non nunc 
			tortor. Sed interdum sodales dolor, ac vulputate turpis tristique 
			ut. Suspendisse massa mi, facilisis nec porttitor et, cursus in 
			turpis. Vestibulum ante ipsum primis in faucibus orci luctus et 
			ultrices posuere cubilia</p>
			
		</div>

	</div>
	
	<div class="grid_8">
	
		<div class="sidebar">
		
			<h2>Lorem Ipsum Dolor</h2>
			
			<p>Aenean mi quam, lacinia eget tempus id, aliquet at lacus. Nullam 
			commodo commodo rutrum. Etiam at libero odio. Fusce eu diam quis 
			magna vehicula pellentesque. Duis tristique, ante eu accumsan porta.</p>
			
			<img src="https://via.placeholder.com/400x400">
			
			<p>Donec sodales tortor eget mi venenatis consequat. Etiam elementum 
			tincidunt aliquam. Pellentesque in odio id metus euismod sodales ut 
			ut neque. Vestibulum mi ipsum, ullamcorper et placerat quis, rhoncus 
			lobortis nisl. Pellentesque ac odio ut justo sem.</p>
			
		</div>
		
	</div>


<!-- END OF PAGE CONTENT -->

</div>
</div>
<div id="topOfPage"><span class="fa fa-chevron-circle-up fa-lg topOfPageTrigger"></span></div>
<div class="footer" id="footer" >
	<div class="container_24">
		<div class="grid_6">
			<h3 id="BNL">Brookhaven National Lab</h3>
			<p>PO Box 5000<br>
			Upton, NY 11973-5000<br>
			(631) 344-8000</p>
			<p><a id="contactUs" class="extrasmall white button" href="https://www.bnl.gov/contact-us/">Contact us</a></p>
			<ul class="socialMediaIcons">
				<li><a target="_blank" href="https://twitter.com/BrookhavenLab" title="Follow Us on Twitter"><span class="fa fa-twitter-square fa-2x"></span></a>
				<li><a target="_blank" href="https://www.facebook.com/brookhavenlab" title="Follow Us on Facebook"><span class="fa fa-facebook-square fa-2x"></span></a>
				<li><a target="_blank" href="https://www.instagram.com/brookhavenlab/" title="Follow Us on Instagram"><span class="fa fa-instagram fa-2x"></span></a>
				<li><a target="_blank" href="https://www.linkedin.com/company/brookhavenlab/" title="Follow Us on LinkedIn"><span class="fa fa-linkedin-square fa-2x"></span></a>
				<li><a target="_blank" href="https://www.youtube.com/BrookhavenLab" title="Follow Us on YouTube"><span class="fa fa-youtube-square fa-2x"></span></a>
				<li><a target="_blank" href="http://www.flickr.com/brookhavenlab/" title="Follow Us on Flickr"><span class="fa fa-flickr fa-2x"></span></a>
			</ul>
		</div>
		<div class="grid_3">
			<ul class="linkList2">
				<li><a href="https://www.bnl.gov/science/">Our Science</a></li>
				<li><a href="https://www.bnl.gov/about/">About</a></li>
				<li><a href="https://www.bnl.gov/about/history/">History</a></li>
				<li><a href="https://www.bnl.gov/about/org/">Leadership</a></li>
				<li><a href="https://www.bnl.gov/visiting/">Visiting the Lab</a></li>
				<li><a href="https://www.bnl.gov/siteindex/">Site Index</a></li>
				<li><a href="https://www.bnl.gov/directory/">Staff Directory</a></li>
			</ul>
		</div>
		<div class="grid_3">
			<ul class="linkList2">	
				<li><a target="_blank" href="https://jobs.bnl.gov/">Careers</a></li>
				<li><a href="https://www.bnl.gov/science/facilities.php">Facilities</a></li>
				<li><a href="https://www.bnl.gov/guv/">Guest Center</a></li>
				<li><a href="https://www.bnl.gov/partner/">Partnerships</a></li>
				<li><a href="https://www.bnl.gov/ppm/">For Vendors</a></li>
				<li><a id="deptLink" href="javascript:void(0);">Departments</a></li>
				<li><a href="https://www.bnl.gov/visiting/events/">Public Events</a></li>
			</ul>
		</div>
		<div class="grid_4">
			<ul class="linkList2 lastList">
				<li><a href="https://www.bnl.gov/diversity/">Inclusion &amp; Diversity</a></li>
				<li><a href="https://www.bnl.gov/newsroom/">Newsroom</a></li>
				<li><a href="https://www.bnl.gov/techtransfer/">Technology Licensing</a></li>
				<li><a href="https://www.bnl.gov/community/">Stakeholder Relations</a></li>
				<li><a href="https://www.bnl.gov/education">Students &amp; Educators</a></li>
				<li><a href="https://www.bnl.gov/about/sustainability/">Sustainability</a></li>
				<li><a href="https://www.bnl.gov/bnlweb/security-notice.php">Privacy and security notice</a></li>
			</ul>
		</div>
		<div class="grid_7 prefix_1">
			<h3 id="BSA">Brookhaven Science Associates</h3>
			<p>Brookhaven Science Associates manages and operates Brookhaven 
			National Laboratory on behalf of the U.S. Department of Energy"s
			Office of Science. BSA is a partnership between Battelle and The 
			Research Foundation for the State University of New York on behalf
			of Stony Brook University. | <a href="https://www.bnl.gov/about/bsa.php">More</a></p>
			<img id="bsaFooterLogo" alt="BSA logos" src="static/images/logo-bsa-black-220px.png">
		</div>
		<div class="clear"></div>
	</div>
</div>
{#<script src="assets/jquery//jquery.js"></script>#}
{#<script src="assets/jquery-ui/jquery-ui.min.js"></script>#}
{#<script src="assets/jquery-sidr/jquery.sidr.min.js"></script>#}
{#<script src='assets/jquery-cookie/jquery.cookie.js'></script>#}
{#<script src="assets/jquery-finger/dist/jquery.finger.min.js"></script>#}
<script src="static/js/bnl.js"></script>
</body>
</html>
