{% extends "shared/_layout.html" %}
{% block content %}

    <div class="search-inputs">
        <h1>Search Proposals</h1>
        <input name="search_text"
               placeholder="Search for a proposal..."
               class="form-control"
               type="text"
               value="{{ search_text or '' }}"
               hx-get="/search/proposals"
               hx-trigger="keyup changed delay:250ms"
               hx-target="#search-results"
               hx-push-url="true">
    </div>

    <br>

    <div class="proposals search-results" id="search-results">

        <table>
        <tr>
            <th>Proposal ID</th>
            <th>Title</th>
        </tr>
            {% if search_text %}
                {{ render_partial('shared/partials/proposals_search_results.html', proposals=proposals) }}
            {% endif %}
        </table>

    </div>

{% endblock %}