{% extends "shared/_layout.html" %}

{% block content %}

    <h3 class="baseColor">Diagnostic Information for {{ proposal.proposal_id }}.</h3>

    <table>
        <tr>
            <th>Title:</th>
            <td>{{ proposal.title }} </td>
        </tr>
        <tr>
            <th>Proposal ID:</th>
            <td>{{ proposal.proposal_id }} </td>
        </tr>
        <tr>
            <th>PI:</th>
            <td>{{ proposal.pi.first_name }} {{ proposal.pi.last_name }}</td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>{{ proposal.proposal_type }} </td>
        </tr>
        <tr>
            <th>Data Session:</th>
            <td>{{ proposal.data_session }}</td>
        </tr>
        <tr>
            <th>Beamlines:</th>
            <td>{{ proposal.beamlines|join(', ') }}</td>
        </tr>

        <tr>
            <th>Cycles</th>
            <td>{{ proposal.cycles|join(', ') }}</td>
        </tr>

        <tr>
            <th>SAFs</th>
            <td>{{ proposal.safs|join(', ') }}</td>
        </tr>

        <tr>
            <th>Users:</th>
            <td>

                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Username</th>
                    </tr>
                    {% for user in proposal.users %}
                        <tr>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td><a href="/diagnostics/username/{{ user.username }}">{{ user.username }}</a></td>
                        </tr>
                    {% endfor %}
                </table>

                </th>
        </tr>
        <tr>
            <th>Last Updated:</th>
            <td>{{ proposal.updated }} </td>
        </tr>

    </table>


{% endblock %}