{% extends "shared/_layout.html" %}

{% block content %}

    <h3 class="baseColor">Diagnostic Information for {{ username }}.</h3>

    <table>
        <tr>
            <th>Name:</th>
            <td>{{ person.firstname }} {{ person.lastname }}</td>
        </tr>
        <tr>
            <th>Institution:</th>
            <td>{{ person.institution }}</td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{ person.email }}</td>
        </tr>
        <tr>
            <th>BNL (Life/Guest) ID:</th>
            <td>{{ person.bnl_id }}</td>
        </tr>
        <tr>
            <th>Account Locked:</th>
            <td>{{ person.account_locked }}</td>
        </tr>
        <tr>
            <th>
                Cybersecurity Agreement Signed
            </th>
            <td>{{ person.cyber_agreement_signed }}</td>
        </tr>
    </table>


{% endblock %}