{% extends "shared/_layout.html" %}

{% block content %}

    <h2>Diagnostic Information for {{ username }}.</h2>

    <table>
        <tr>
            <th>Name:</th>
            <th>{{ person.firstname }} {{ person.lastname }}</th>
        </tr>
        <tr>
            <th>Institution:</th>
            <th>{{ person.institution }}</th>
        </tr>
        <tr>
            <th>E-mail:</th>
            <th>{{ person.email }}</th>
        </tr>
        <tr>
            <th>BNL (Life/Guest) ID:</th>
            <th>{{ person.bnl_id }}</th>
        </tr>
        <tr>
            <th>Account Locked:</th>
            <th>{{ person.account_locked }}</th>
        </tr>
    <tr>
        <th>
        Cybersecurity Agreement Signed</th>
        <th>{{ person.cyber_agreement_signed }}</th>
    </tr>
    </table>


{% endblock %}